.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.custom-text-dark{
  color:  #17181a;
}

/* .custom-btn{
  background: linear-gradient(
    335.64deg,#ff8567 -19.22%,#f65b47 118.87%);
    color : #fff;
    font-size:  14px;
    padding: 10px 15px;
    border: 0;
} */
.custom-btn{
  background: transparent;
  color :  #f65b47;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}

.custom-text-pink{
  color : #f65b47;
}
p{
  color: #444444;
  font-size: 18px;
}

.custom-cursor{
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
