.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.custom-text-primary{
  color:  #314584;
}

.custom-btn{
  background: linear-gradient(
    335.64deg,#ff589b -19.22%,#ff136f 118.87%);
  font-weight: 600;
  padding: 10px 20px;
  color : #fff;
  border:  0;
  font-size: 14px;
  text-transform: uppercase;
}
.custom-btn:hover{
  background: transparent;
  color :  #ff136f;

}
.custom-text-pink{
  color : #ff136f;
}
p{
  color: #959db5;
}

.custom-cursor{
  cursor: pointer;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
